{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book A Journey</title>
    <link rel="stylesheet" href="{% static 'assets/css/book-style.css' %}">
</head>
<body>
    <div class="book-container" >
        <div class="book-form">
            <form action="">
                <h2>Book Your Destination</h2>
                <div class="inputBox">
                    <input type="text" required="required" class="textbx">
                    <span>Full name</span>
                </div>
                <div class="inputBox">
                    <input type="email" required="required">
                    <span>Email</span>
                </div> 
                <div class="inputBox">
                    <input type="text"  required>
                    <span>Phone</span>
                </div>
                <div class="inputBox">
                    <input type="date" placeholder="none" required>
                    <span>Start date</span>
                </div>
                <div class="inputBox">
                    <input type="text"  required>
                    <span>Origin Country</span>
                </div>
                <div class="inputBox">
                    <input type="text"  required>
                    <span>How Many Are You</span>
                </div>
                <div class="inputBox" >
                    <textarea name="" id="" cols="30" rows="6" required></textarea>
                    <span>Type Your Message .....</span>
                </div>
                <div class="inputButton">
                    <input type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</body>
</html>