{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
   
    <!-- ========css link =============== -->
    <link rel="stylesheet" href="{% static 'assets/css/contact-style.css' %}">
        <!-- =================== swipe js====================== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}">
    <title>Hello Africa</title>


    
</head>
<body>
    {% include 'navbar.html' %}
    <section class="contact">
        <div class="contact-content">
            <h2>Contact Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus cumque eius alias sit, officia id vel distinctio reiciendis qui aut nobis voluptate harum quidem! Dicta qui quibusdam modi reprehenderit doloribus?</p>
        </div>
        <div class="contact-container">
            <div class="contactInfo">
                <div class="box" >
                    <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>KN 203st Nyamirambo, <br> Kigali, Nyarugenge,<br> 55060</p>
                    </div>
                </div>
                <div class="box" onclick="openWhatsApp('+250790250425')">
                    <div class="icon"><i class="fa-brands fa-whatsapp"></i></div>
                    <div class="text">
                        <h3>WhatsApp</h3>
                        <p>+250 790 250 425</p>
                    </div>
                </div>
                <div class="box" onclick="callNumber('+250790250425')">
                    <div class="icon"><i class="fa-solid fa-phone"></i></div>
                    <div class="text">
                        <h3>Phone</h3>
                        <p>+250 790 250 425</p>
                    </div>
                </div>
                <div class="box" onclick="sendEmail('hirwacedric123@gmail.com')">
                    <div class="icon"><i class="fa-solid fa-envelope"></i></div>
                    <div class="text">
                        <h3>Email</h3>
                        <p>hirwacedric123@gmail.com</p>
                    </div>
                </div>
            </div>
            
            
            <form action="{% url 'send-message' %}" method="POST" class="contactForm" id="booking-form"   >
                {% csrf_token %}
                
                <h2 style="display:inline-block; padding: 0 auto;">Send Us Message</h2>
                <div class="inputBox">
                    <input type="text" name="name" required="required" class="textbx">
                    <span>Enter Your Full name</span>
                </div>
                <div class="inputBox">
                    <input type="email" name="email" required="required">
                    <span>Type your Email</span>
                </div> 
                <div class="inputBox">
                    <input type="text" name="phone" required>
                    <span>Phone</span>
                </div>
                <div class="inputBox" >
                    <textarea name="message" id="" cols="30" rows="6" required></textarea>
                    <span>Type Your Message .....</span>
                </div>
                <div class="inputButton" >
                    <input  type="submit" value="Send">
                </div>
                   
            </form>
        </div>
    </section>
        <!-- Success Message Card -->
        <div id="success-card" class="overlay-card">
            <div class="card-contente">
                <p>Your Message Has Been Sent Successfully! <br> We will get to you back soon, Thank you for reaching us</p>
                <a href="{% url 'contact' %}"><button class="okay-btn">Ok</button>
                </a>
            </div>
        </div>
    
        <!-- JavaScript to show the success card -->
        {% include 'footer.html' %}
    <script>
        function callNumber(number) {
            window.location.href = 'tel:' + number;
        }
    
        function openWhatsApp(number) {
            // If you have a WhatsApp number, the format should be "whatsapp://send?phone=NUMBER"
            // Replace "NUMBER" with the phone number, removing any spaces or special characters
            var whatsappURL = 'whatsapp://send?phone=' + number;
            window.location.href = whatsappURL;
        }
    
        function sendEmail(email) {
            window.location.href = 'mailto:' + email;
        }

         // Function to show the success message card
         function showSuccessCard() {
                document.getElementById("success-card").style.display = "block";
            }
    
            // Add event listener to the form submission button
            document.getElementById("booking-form").addEventListener("submit", function(event) {
                // Prevent the default form submission behavior
                event.preventDefault();
    
                // Submit the form using AJAX
                fetch(this.action, {
                    method: this.method,
                    body: new FormData(this)
                })
                .then(response => {
                    if (response.ok) {
                        // Show the success card if the form was submitted successfully
                        showSuccessCard();
                    }
                })
                .catch(error => {
                    console.error('Error submitting form:', error);
                });
            });

            'use strict';



/**
 * PRELOAD
 * 
 * loading will be end after document is loaded
 */

const preloader = document.querySelector("[data-preaload]");

window.addEventListener("load", function () {
  preloader.classList.add("loaded");
  document.body.classList.add("loaded");
});



/**
 * add event listener on multiple elements
 */

const addEventOnElements = function (elements, eventType, callback) {
  for (let i = 0, len = elements.length; i < len; i++) {
    elements[i].addEventListener(eventType, callback);
  }
}



/**
 * NAVBAR
 */

const navbar = document.querySelector("[data-navbar]");
const navTogglers = document.querySelectorAll("[data-nav-toggler]");
const overlay = document.querySelector("[data-overlay]");

const toggleNavbar = function () {
  navbar.classList.toggle("active");
  overlay.classList.toggle("active");
  document.body.classList.toggle("nav-active");
}

addEventOnElements(navTogglers, "click", toggleNavbar);



/**
 * HEADER & BACK TOP BTN
 */

const header = document.querySelector("[data-header]");
const backTopBtn = document.querySelector("[data-back-top-btn]");

let lastScrollPos = 0;

const hideHeader = function () {
  const isScrollBottom = lastScrollPos < window.scrollY;
  if (isScrollBottom) {
    header.classList.add("hide");
  } else {
    header.classList.remove("hide");
  }

  lastScrollPos = window.scrollY;
}

window.addEventListener("scroll", function () {
  if (window.scrollY >= 50) {
    header.classList.add("active");
    backTopBtn.classList.add("active");
    hideHeader();
  } else {
    header.classList.remove("active");
    backTopBtn.classList.remove("active");
  }
});



/**
 * HERO SLIDER
 */

const heroSlider = document.querySelector("[data-hero-slider]");
const heroSliderItems = document.querySelectorAll("[data-hero-slider-item]");
const heroSliderPrevBtn = document.querySelector("[data-prev-btn]");
const heroSliderNextBtn = document.querySelector("[data-next-btn]");

let currentSlidePos = 0;
let lastActiveSliderItem = heroSliderItems[0];

const updateSliderPos = function () {
  lastActiveSliderItem.classList.remove("active");
  heroSliderItems[currentSlidePos].classList.add("active");
  lastActiveSliderItem = heroSliderItems[currentSlidePos];
}

const slideNext = function () {
  if (currentSlidePos >= heroSliderItems.length - 1) {
    currentSlidePos = 0;
  } else {
    currentSlidePos++;
  }

  updateSliderPos();
}

heroSliderNextBtn.addEventListener("click", slideNext);

const slidePrev = function () {
  if (currentSlidePos <= 0) {
    currentSlidePos = heroSliderItems.length - 1;
  } else {
    currentSlidePos--;
  }

  updateSliderPos();
}

heroSliderPrevBtn.addEventListener("click", slidePrev);

/**
 * auto slide
 */

let autoSlideInterval;

const autoSlide = function () {
  autoSlideInterval = setInterval(function () {
    slideNext();
  }, 7000);
}

addEventOnElements([heroSliderNextBtn, heroSliderPrevBtn], "mouseover", function () {
  clearInterval(autoSlideInterval);
});

addEventOnElements([heroSliderNextBtn, heroSliderPrevBtn], "mouseout", autoSlide);

window.addEventListener("load", autoSlide);



/**
 * PARALLAX EFFECT
 */

const parallaxItems = document.querySelectorAll("[data-parallax-item]");

let x, y;

window.addEventListener("mousemove", function (event) {

  x = (event.clientX / window.innerWidth * 10) - 5;
  y = (event.clientY / window.innerHeight * 10) - 5;

  // reverse the number eg. 20 -> -20, -5 -> 5
  x = x - (x * 2);
  y = y - (y * 2);

  for (let i = 0, len = parallaxItems.length; i < len; i++) {
    x = x * Number(parallaxItems[i].dataset.parallaxSpeed);
    y = y * Number(parallaxItems[i].dataset.parallaxSpeed);
    parallaxItems[i].style.transform = `translate3d(${x}px, ${y}px, 0px)`;
  }

});



    </script>

    
</body>
</html>