/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 9.3rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: black;
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}



/* ================BODY ======== */
/* =======SWIPER========= */
.swiper {
  width: 100%; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
}

/* Styling for images inside swiper slides */
.swiper-slide img {
  width: 100%; /* Adjust to full width of the slide */
  height: 100%; /* Full height of the slide */
  border-radius: 20px; /* Rounded corners */
  object-fit: cover; /* Display entire image without stretching */
  object-position: center; /* Center the image */
}

/* Styling for previous and next buttons */
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #fff; /* White color for the buttons */
}

/* Styling for active pagination bullet */
.swiper .swiper-pagination-bullet {
  width: 9px; 
  height: 9px; 
  background: #000000; 
  opacity: 0.6; 
  margin: 0 10px; 
  border-radius: 50%; 
}

/* Styling for active pagination bullet */
.swiper .swiper-pagination-bullet-active {
  background: white; /* Background color of active bullet */
  opacity: 1; /* Full opacity for active bullet */
}

/* Slide content animation */
.slide-content {
  position: absolute;
  top: -50px; /* Initial position off the top */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  color: #000; /* Set text color to white or your preferred color */
  opacity: 0; /* Initially hidden */
  transition: top 2s ease, opacity 0.5s ease; /* Transition effect */
}
.slide-content p{
  color: #f9f8f8;
  font-weight: 800;
  font-size: 13px;
}

.slide-content.active {
  top: 50%; /* Final position centered */
  opacity: 1; /* Fade in */
}

.slide-content h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 1.2em;
}

/* Packages Section Start */
.packages{
  padding:  30px 5%;
  margin-top: 0.0001rem;
  background-color:var(--black-color);
  border-top: 0.1px solid #dbdada;
  box-shadow: inset 0 0 60px 5px rgba(255, 255, 255, 0.5), inset 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
}
.packages .main-txt{
  text-align: center;
}
.packages .main-txt h3{
  font-size: 36px;
  font-weight: 600;
  color: var(--white-color);
  text-shadow: 0px 1px 1px green;
}
.packages .card-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  align-items: center;
  gap: 0.90rem;
  margin-top: 30px;

}
.packages .card-content .row{
  background: var(--black-color-light);
  border: 3px solid #727272;
  position: relative;
  overflow: hidden;
  color: #fff;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  box-shadow: inset 2px 2px 10px rgba(255, 255, 255, 0.5), inset -2px -2px 10px rgba(0, 0, 0, 0.5);
 
}
.packages .card-content .row:hover{
  scale: 1.02;
  box-shadow: inset 0 0 30px rgba(238, 229, 229, 0.7);

}
.packages .row img{
  width: 100%;
  /* padding: 10px; */
  display: block;
}
.packages .row img:hover{
  filter:grayscale(1) brightness(1.2);
}
.packages .card-body{
  padding: 10px;
  margin-left: 10px;
}
.packages .card-body h3{
  margin-top: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--white-color);
  text-shadow: 0px 1px 1px #008000;
}
.packages .card-body p{
  font-size: 16px;
  font-weight: 500;
  color: rgb(220, 220, 220);
  margin-top: 15px;
}
.rating i{
  color: orange;
  margin-top: 5px;
}
.packages .card-body h5{
  margin-top: 10px;
  font-size: 13px;
}

.packages .card-body .book-btn{
  width: 100px;
  height: 30px;
  background-color: #008000;
  margin-top: 10px;
  font-weight: 600;

  color: #fff;
  border-radius: 5px;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}
.packages .card-body .book-btn:hover{
  background: #014b0c;
  width: 110px;
  height: 32px;

}
.packages .card-body button:hover{
  color: #f4f5fb;
}
@media (max-width:700px){
  .packages .card-content{
      grid-template-columns: 1fr;
  }
}
/* Packages Section End */


/* gallery Section Start */
.gallery{

  margin-top: 1px;

  padding:30px 3% 30px;
  background: rgba(23, 28, 38,1);

 
  box-shadow: inset 0 0 4px 10px rgba(255, 255, 255, 0.5), inset 0 0 20px rgba(0, 0, 0, 0.1);




}

.gallery .heading h3{
  font-size: 30px;
  letter-spacing: 2px;
  color: #f4f5fb;
  border-bottom: 2px solid #008000;
}
.gallery-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.gallery-card .roww {
  position: relative;
  margin-right: 10px;

}
.gallery-card .roww .destination-description{
  position: absolute;
  text-align: center;
  top:17px;
  font-weight: 900;
  background: rgba(0, 0, 0, 0.5); 
  width: 280px;
  padding: 15px 0;
  /* padding: 10px; */
  z-index: 5;
  left:0;
 
}
.gallery-card .roww .view-more{
  position: absolute;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  padding: 8px 15px ;
  border-radius: 5px;
  border: none;
  background-color: #008000;
  color: #fff;
  left: 31%;
  transform: translateY(-180%);
  transition: 0.5s ease-in-out;
  
}

.gallery-card .roww .view-more:hover{
  background-color: #014b0c;
  padding: 8px 20px;
  
}
.gallery-card .roww .destination-description h2{
  font-weight: 900;
  color: #fff;
}
.gallery-card .roww img{
  width: 280px;
  height: 300px;
  transition: 0.4s ease-in-out;
  display: block;
  border-radius: 15px;    
  transition: 0.5s;
  cursor: pointer;
  object-fit: cover; /* Display entire image without stretching */
  object-position: center; /* Center the image */
}
.gallery-card .roww img:hover{
  transform: translateY(-10px);
  filter: grayscale(1);

}
@media (max-width:1100px){
  .gallery-card{
      grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width:900px){
  .gallery-card{
    grid-template-columns: 1fr 1fr ;
  }}
@media (max-width:600px){
  .gallery-card{
    grid-template-columns: 1fr;
  

    }
.gallery{
  padding:10px;
}
.gallery-card .roww img{
  width: 100%;
  height: 400px;
  transition: 0.4s ease-in-out;
  display: block;
  border-radius: 15px;    
  transition: 0.5s;
  cursor: pointer;
}
.gallery-card .roww .destination-description{
  width: 100%;
}

}
/* gallery Section End */
/* =============ABOUT SECTION STARTS================ */
/* About Section Start */
.about{
  background: rgba(23, 28, 38,1);
  box-shadow: inset 0 0 60px 5px rgba(255, 255, 255, 0.5), inset 0 0 20px rgba(0, 0, 0, 0.1);
  padding:  2% 8% ;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid #3b3939;
  border-top: 0.1px solid #3b3939;
}
.about-img img{
  max-width: 530px;
  height: auto;
  cursor: pointer;

  width: 100%;
  border-radius: 10px;
}
.about-img img:hover{
  filter: grayscale(1);
}
.about-info h3{
  color: #f4f5fb;
  font-size: 30px;
  line-height: 1;
}
.about-info h6{
  font-size: 35px;
  letter-spacing: 2px;
  color: #f4f5fb;
  margin-left: 20px;
}
.about-info p{
  font-size: 17px;
  font-weight: 500;
  color: rgb(220, 220, 220);
  margin-top: 15px;
  letter-spacing: 1px;
  margin-bottom: 3rem;
  margin-top: 15px;
}
.about-btn{
  width: 150px;
  height: 36px;
  font-weight: bold;
  background: #008000;
  color: #f4f5fb;
  border-radius: 5px;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}
.about-btn:hover{
  width: 165px;
  background: #014b0c;
}
@media (max-width:920px){
  .about{
      grid-template-columns: 1fr;
  }
  .about-img{
      text-align: center;
      order: 2;
  } 
  .about-img img{
      width: 100%;
      height: auto;
      max-width: 100%;
  }
}
/* About Section End */

/*================== SLIDE SHOW GALLERY============== */
.collections {
  width: 100%;
  margin-top: 1px;
  padding: 2% 5%;
  background: rgba(23, 28, 38,1);
  box-shadow: inset 0 0 40px 5px rgba(255, 255, 255, 0.5), inset 0 0 20px rgba(0, 0, 0, 0.1);
 

}
.gallery-header{
  text-align: center;
  color: white;
  font-size: 28px;
  margin-bottom: 20px;
}
.slider-wrapperrer {
  position: relative;
  padding: 5px 0 0 0;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background: rgb(0, 0, 0);
  box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.5), inset 0 0 20px rgba(0, 0, 0, 0.1);

}
.slider-wrapperrer .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #008000;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #f9f8f8;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slider-wrapperrer .slide-button:hover {
  background: #404040;
  color: #fff;
}
.slider-wrapperrer .slide-button#prev-slide {
  left: -25px;
  display: none;
}
.slider-wrapperrer .slide-button#next-slide {
  right: -25px;
}
.slider-wrapperrer .image-list {
  display: grid;
  padding-bottom: 5px;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.2);

 



}
.slider-wrapperrer .image-list::-webkit-scrollbar {
  display: none;
}
.slider-wrapperrer .image-list .image-item {
  width: 325px;
  cursor: pointer;
  height: 400px;
  object-fit: cover;
  transition: 0.7s all;

}
.slider-wrapperrer .image-list .image-item:hover{
  width: 338px;
  filter: grayscale(1);
}
.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.slider-scrollbar .scrollbar-track {
  background: #000000;
  width: 100%;
  height: 5px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}
.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #ffffff;
  top: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}
.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}
.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}
/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  /* .slider-wrapperrer .slide-button {
    display: none !important;
  } */
  .slider-wrapperrer .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

.container-f{
	max-width: 1170px;
	margin:auto;
}
.row-f{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer {
  background-color: #000;
  padding: 40px 0;
  position: relative; /* Changed to relative */
  width: 100%;
}

.footer::before,
.footer::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 10px; /* Adjust the height of the shadows as needed */
  z-index: 1; /* Ensure it's above the content */
}


.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 700;
	position: relative;
}
/* .footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #008000;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
} */
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #008000;
	background-color: #ffffff;
}
.footer .footer-col .underline{
  width: 40%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.footer .footer-col .underline span{
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 3s linear infinite;
}
.footer .footer-col .newsletter-box input{
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px 14px;
  font-size: 13px;

}
.footer .footer-col .newsletter-box {
  display: flex;
  flex-wrap: nowrap;
}
.footer .footer-col .newsletter-box button{
  border: none;
  cursor: pointer;
  outline: none;
  font-size:14px;
  margin-left: -20px;
  color: white;
  background: #008000;
  padding: 7px 8px;
  border-radius: 5px;
}
.footer .footer-col .newsletter-box button:hover{
  background: #014b0c;
}
.footer .copyright p{
  color: #727272;
  margin-top: 10px;
  text-align: center;
}
.footer .copyright p a{
  text-decoration: none;
  color: #f9f8f8;
}
@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}
@media(max-width:900px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    padding-left: 10%;

}

}
/*responsive*/
/* @media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    padding-left: 10%;

}
} */
@media(max-width: 574px){
  .footer-col{
    width: 100%;
    padding-left: 15%;
}
}