*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-text{
    padding:  30px 5%;
    background-color: black;
    color: rgb(118, 117, 115);
}
h1, h2 {
    color: #ffcc00;
    margin-top: 30px;
}
p {
    line-height: 1.6;
    padding: 10px;
}